#contenitore-griglia {
  width: 500px;
}
#difficolta {
  display: inline-block;
  width: 400px;
}

.cella-100 {
  width: calc(100% / 10);
}
.cella-81 {
  width: calc(100% / 9);
}
.cella-49 {
  width: calc(100% / 7);
}

.cella {
  border: 1px solid black;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cella-cliccata {
  background-color: aqua;
}
